.h1 {
  @apply mb-8 text-4xl leading-tight font-bold font-sans;
}

.h2 {
  @apply mb-4 text-2xl leading-tight text-center italic font-sans;
}

.h3 {
  @apply mb-4 text-xl leading-tight font-sans;
}

.h4 {
  @apply mb-4 text-lg leading-tight font-sans;
}

.p {
  @apply mb-4 text-sm leading-normal font-sans;
}

.base {
  @apply mb-4 text-base leading-relaxed font-serif;
}

.figcaption {
  @apply mb-4 text-xs leading-tight font-serif;
}

.small {
  @apply mb-4 leading-tight font-serif;

  font-size: 0.5em;
}

@mixin anchor($size: 4px, $offset: 2px) {
  background-image: linear-gradient(
    to bottom,
    transparent calc(100% - #{$size}),
    rgba($int-turq, 0.5) $size
  );
  background-position: right 50% bottom #{$offset};
  transition: background-position 200ms;

  &:hover {
    background-image: linear-gradient(
      to bottom,
      transparent calc(100% - #{$size}),
      $int-turq $size
    );
    background-position: right 50% bottom 0;
  }
}

article {
  @apply text-black2;

  h1 {
    @apply h1;
  }

  h1 a {
    @include anchor($size: 6px, $offset: 6px);
  }

  h2 {
    @apply h2;
  }

  h2 a {
    @include anchor($size: 4px, $offset: 4px);
  }

  h3 {
    @apply h3;
  }

  h4 {
    @apply h4;
  }

  p {
    @apply p;
  }

  a {
    @include anchor();
  }

  figcaption {
    @apply figcaption;
  }

  small {
    @apply small;
  }
}
